.idea/.idea.NolagDotnet/.idea/.gitignore
.idea/.idea.NolagDotnet/.idea/aws.xml
.idea/.idea.NolagDotnet/.idea/encodings.xml
.idea/.idea.NolagDotnet/.idea/indexLayout.xml
.idea/.idea.NolagDotnet/.idea/vcs.xml
Consumer/bin/Debug/net8.0/Consumer
Consumer/bin/Debug/net8.0/Consumer.deps.json
Consumer/bin/Debug/net8.0/Consumer.dll
Consumer/bin/Debug/net8.0/Consumer.pdb
Consumer/bin/Debug/net8.0/Consumer.runtimeconfig.json
Consumer/obj/Consumer.csproj.nuget.dgspec.json
Consumer/obj/Consumer.csproj.nuget.g.props
Consumer/obj/Consumer.csproj.nuget.g.targets
Consumer/obj/project.assets.json
Consumer/obj/project.nuget.cache
Consumer/obj/project.packagespec.json
Consumer/obj/rider.project.model.nuget.info
Consumer/obj/rider.project.restore.info
Consumer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Consumer/obj/Debug/net8.0/apphost
Consumer/obj/Debug/net8.0/Consumer.AssemblyInfo.cs
Consumer/obj/Debug/net8.0/Consumer.AssemblyInfoInputs.cache
Consumer/obj/Debug/net8.0/Consumer.assets.cache
Consumer/obj/Debug/net8.0/Consumer.csproj.CoreCompileInputs.cache
Consumer/obj/Debug/net8.0/Consumer.csproj.FileListAbsolute.txt
Consumer/obj/Debug/net8.0/Consumer.dll
Consumer/obj/Debug/net8.0/Consumer.GeneratedMSBuildEditorConfig.editorconfig
Consumer/obj/Debug/net8.0/Consumer.genruntimeconfig.cache
Consumer/obj/Debug/net8.0/Consumer.GlobalUsings.g.cs
Consumer/obj/Debug/net8.0/Consumer.pdb
Consumer/obj/Debug/net8.0/ref/Consumer.dll
Consumer/obj/Debug/net8.0/refint/Consumer.dll
NoLagLib/obj/NoLagLib.csproj.nuget.dgspec.json
NoLagLib/obj/NoLagLib.csproj.nuget.g.props
NoLagLib/obj/NoLagLib.csproj.nuget.g.targets
NoLagLib/obj/project.assets.json
NoLagLib/obj/project.nuget.cache
NoLagLib/obj/project.packagespec.json
NoLagLib/obj/rider.project.model.nuget.info
NoLagLib/obj/rider.project.restore.info
NoLagLib/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
NoLagLib/obj/Debug/net8.0/NoLagLib.AssemblyInfo.cs
NoLagLib/obj/Debug/net8.0/NoLagLib.AssemblyInfoInputs.cache
NoLagLib/obj/Debug/net8.0/NoLagLib.assets.cache
NoLagLib/obj/Debug/net8.0/NoLagLib.GeneratedMSBuildEditorConfig.editorconfig
NoLagLib/obj/Debug/net8.0/NoLagLib.GlobalUsings.g.cs
NoLagLib/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
NoLagLib/obj/Debug/netstandard2.1/NoLagLib.AssemblyInfo.cs
NoLagLib/obj/Debug/netstandard2.1/NoLagLib.AssemblyInfoInputs.cache
NoLagLib/obj/Debug/netstandard2.1/NoLagLib.assets.cache
NoLagLib/obj/Debug/netstandard2.1/NoLagLib.GeneratedMSBuildEditorConfig.editorconfig
NoLagLib/obj/Debug/netstandard2.1/NoLagLib.GlobalUsings.g.cs
Producer/obj/Producer.csproj.nuget.dgspec.json
Producer/obj/Producer.csproj.nuget.g.props
Producer/obj/Producer.csproj.nuget.g.targets
Producer/obj/project.assets.json
Producer/obj/project.nuget.cache
Producer/obj/project.packagespec.json
Producer/obj/rider.project.model.nuget.info
Producer/obj/rider.project.restore.info
Producer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Producer/obj/Debug/net8.0/Producer.AssemblyInfo.cs
Producer/obj/Debug/net8.0/Producer.AssemblyInfoInputs.cache
Producer/obj/Debug/net8.0/Producer.assets.cache
Producer/obj/Debug/net8.0/Producer.GeneratedMSBuildEditorConfig.editorconfig
Producer/obj/Debug/net8.0/Producer.GlobalUsings.g.cs
